/* This file is for your main application css. */

.add-background-image {
  background-color: lightblue;
}

.add-chatroom-bg {
  background-color: #ffdcdc;
}

.add-page-bg {
  background-color: #f57977;
}



