<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "BuDuoTravel" %></h2>
  <p class="lead">An application that<br />helps you with travelling.
  <br/> <%= link "Sign Up", to: user_path(@conn, :new), class: "nav-link"%></p>
</div>


  
