<HTML><BODY>

<%= form_for @changeset, "/searchFlights", fn f -> %>
<H1>Flight Searching</H1>

<div class="form-group">
  <label class="control-label">Origin</label>
  <input name="ori" id="ori" type="text" />
</div>

<div class="form-group">
  <label class="control-label">Destination</label>
  <input name="des" id="des" type="text" />
</div>


<div class="form-group">
  <label class="control-label">Departing</label>
  <input name="dep" id="dep" type="text" />
</div>

<div class="form-group">
    <%= submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>
</BODY></HTML>
