<div class="error-img">
<div class="container-fluid">
 <div class="error-font">
  <a href="/hotels">
<br><br><br><br><br><br><br><br>
Wrong inputs, please search again!
  <strong> Back! </strong>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
  </a>
 </div>
</div>
</div>
