<HTML><BODY>

<%= form_for @changeset, "/searchHotels", fn f -> %>
<H1>Hotel Searching</H1>

<div class="form-group">
  <label class="control-label">Location</label>
  <input name="loc" id="loc" type="text" />
</div>

<div class="form-group">
  <label class="control-label">Check-in</label>
  <input name="inn" id="inn" type="text" />
</div>


<div class="form-group">
  <label class="control-label">Check-out</label>
  <input name="out" id="out" type="text" />
</div>


<div class="form-group">
    <%= submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>
</BODY></HTML>
