<HTML><BODY>
<div class="row">
 <div class="container-fluid black-shade">
  <div class="flighthotel-page">
   <%= form_for @changeset, "/searchHotels", fn f -> %>
   <h1 class="font-white text-center">Hotel Searching</h1>
  <br>
  
  <div class="row">
   <div class="col-md-6 col-md-offset-3 text-center">
   
    <div class="form-group">
     <label class="control-label font-white text-center">Location</label>
     <input name="loc" id="loc" type="text" placeholder="three letters eg:bos" />
    </div>
    <br>

    <div class="form-group">
     <label class="control-label font-white text-center">Check-in</label>
     <input name="inn" id="inn" type="text" placeholder="yyyy-mm-dd"/>
    </div>
    <br>
 
    <div class="form-group">
     <label class="control-label font-white text-center">Check-out</label>
     <input name="out" id="out" type="text" placeholder="yyyy-mm-dd"/>
    </div>
    <br>
  
    <div class="form-group">
    <%= submit "Search", class: "btn btn-primary" %>
   </div>
   <% end %>
    </div>
   </div>
  </div>
 </div>
</div>
</BODY></HTML>
